.ApplicationStyle {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: white;
	button {
		cursor: pointer;
	}
}

.ConnectGamepadMessage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	>div {
		flex: 0 1 auto;
	}
}